name: testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: apt-get install -y qemu-user gcc-aarch64-linux-gnu
    - name: Build programs
      run: make all
    - name: Run tests
      run: make test
